@page "/"
@inject Meadow.Blazor.Services.SensorViewModel ViewModel

<div class="container">
    <div class="content">
        <div class="image-container">
            <img src="Assets/meadow.png" alt="Meadow" />
        </div>
        <h1>Meadow on Blazor</h1>
        <h2>Atmospheric readings from a BME688</h2>

        <div class="readings">
            <div class="reading">
                <span>Temperature:</span>
                <span>@ViewModel.TemperatureValue</span>
            </div>
            <div class="reading">
                <span>Pressure:</span>
                <span>@ViewModel.PressureValue</span>
            </div>
            <div class="reading">
                <span>Humidity:</span>
                <span>@ViewModel.HumidityValue</span>
            </div>
        </div>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        ViewModel.StateChanged += OnViewModelStateChanged;
    }

    private void OnViewModelStateChanged()
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        ViewModel.StateChanged -= OnViewModelStateChanged;
    }
}
